.pictograma
{
    display: none;
}

.pictograma_container
{
 margin-top: 2vh;;
}

.pictograma_container p
{
    color: white;
    font-size: 40px;
    font-weight: bold;

}

#searchPictogram_container p
{
    color: #194E92;
    font-size: 15px;
    font-weight: bold;
}

.pictograma_container input
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.pictograma_container i
{
    color: #194E92;
}

#pictograma_game_container
{
    border: 1px solid #0d2a50;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(25,25,25,0.5);
}

#playPictogram_container
{
    width: 97vw;
    padding: 15px;
    height: 66vh;
}

.pictogram_resolve
{
    width: 70%;
}

.pictogram_container
{
    width: 500px;
    max-width: 30%;
}

#pictogram_image
{
    width: 100%;
}

#pictogram_word
{
    background-color: rgba(25,25,25,0.5);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    margin: 5vw;
    margin-top: 0;
    border: 1px solid #0d2a50;
    color: white;
    font-size: 40px;
    letter-spacing: 20px;

}

#picogram_vocals
{
    display: inline-flex;
    background-color: rgba(25,25,25,0.5);
    border-radius: 20px;
    margin: 5vw;
    margin-top: 0;
    border: 1px solid #0d2a50;
}

.vocal
{
    width: 9vw;
    margin: 1vw;
    padding: 3vw;
    border-radius: 20px;
    background: #194E92;
    color: white;
    text-align: center;
}