@font-face { font-family: B612; src: url('fonts/B612/B612-Regular.ttf'); } 
@font-face { font-family: B612;  font-weight: bold; src: url('fonts/B612/B612-Bold.ttf'); } 

*{              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body
{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: B612, sans-serif; 
    font-size: 1.5em;
}

.upper
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(250, 250, 250, 0.88);
    color: white;
}

.upper a
{
    position: fixed;
    left: 0;
    top: 0;

}

.upper img
{    
    position: fixed;
    width: 23vh;
    top: -6%;
}

.body
{
    position: fixed;
    left: 0;
    top: 10%;
    width: 100%;
    height: 80%;
    color: white;
}

.body_container
{
    padding: 2%;
    width: 100%;
    height: 80vh;

}

.body_container hr
{
    border-top: 2px solid #194E92;
    width: 50vw;
    margin: 0;
    text-align: left;
}

.app_grids
{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2vh;
    border: 2px solid #194E92;
    border-radius: 20px;
}

.app_section_title
{  
    color: #194E92;
    font-weight: bold;
    margin-bottom: 1vh;
    
}

.app
{
    background-color: rgb(218, 218, 218);
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid #194E92;
    border-radius: 20px;
    text-align: center;
    display: block;
    overflow: hidden;
}

.app_logo
{
    width: 75px;
    margin: 5%;
}

.app_title
{
    font-size: 15px;
    color: #194E92;
    width: 80%;
    margin-left: 10%;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #696969;
    color: white;
    text-align: center;
}

.footer footer
{
    margin-top: 2%;
    font-size: 15px;
}